.sidebar {
  height: 100vh;
  transition: all 0.3s ease;
  position: relative;
}

.sidebar.open {
  width: 250px;
  padding: 1rem;
}

.sidebar.closed {
  width: 50px;
  padding: 0.5rem;
}

.toggle-btn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 100%;
  text-align: left;
}

.link {
  display: flex;
 padding-bottom: 30PX;
  color: white;
  text-decoration: none;
  
}
