/* body {
  background-image: url('./Premium\ Photo\ _\ Blue\ silk\ fabric\ blue\ cloth\ material\ flying\ in\ the\ wind\ 3d\ rendering.jpg');
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
} */
