/* body {
  background-image: url('./Premium\ Photo\ _\ Blue\ silk\ fabric\ blue\ cloth\ material\ flying\ in\ the\ wind\ 3d\ rendering.jpg');
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-attachment: fixed; 
} */


.section {
padding: 60px 0;
}

/* .section-light {
background-color: #f8f9fa;
} */

.domain-card {
transition: transform 0.2s ease;
}

.domain-card:hover {
transform: translateY(-5px);
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}